.league {
  width: 23vw;
  height: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leagueName {
  font-size: 1.5rem;
  font-weight: 700;
  border-top: #28b662 solid 5px;
}

.leagueDate {
  font-weight: 100;
}

.sortButton {
  align-self: flex-end;
}

.results {
  margin-top: 15%;
}
